.Project {
    width: 100%;
    /* background: orange; */


    display: flex;
    flex-direction: row;

    --image-offset: 50px;
    --title-offset: 20px;
    --description-padding-offset: 70px;
}


.Project.right{
    flex-direction: row-reverse;
    text-align: right;
}

.Project .content{
    min-width: 50%;
    max-width: 50%;

    

    padding: 20px 0 ;

    z-index: 2;
}

.Project .content .type{
    color: #515151;
    font-size: 16px;
    font-weight: 600;
    font-family: "Inter";
    
    margin-left: 20px;

}
.Project.left .content .type{
    margin-left: var(--title-offset);
}
.Project.right .content .type{
    margin-right: var(--title-offset);
}

.Project .content .title{
    color: #fbfbfb;
    font-size: 18px;
    font-weight: 600; 
    font-family: "Rubik";  
    margin-bottom: 15px ; 
}
.Project.left .content .title{
    margin-left: var(--title-offset);
}
.Project.right .content .title{
    margin-right: var(--title-offset);
}

.Project .content .description{
    color: #515151;
    font-size: 16px;
    font-weight: normal;
    


    background: #20202265;


    border-radius: 10px;
    padding: 20px;
    text-align: center;

}

.Project .content .description > *{
    margin: auto;
}

.Project .image{


    margin-left: calc(var(--image-offset) * -1);
    flex-grow: 1;
    background: #5151511e ;
    padding: 2px;
    border-radius: 10px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.Project.left .image{
    margin-left: calc(var(--image-offset) * -1);
}

.Project.right .image {
    margin-right: calc(var(--image-offset) * -1);
}

.Project .image img {
    max-width: 98%;
    width: 98%;
    
    object-fit: contain;
    border-radius: 20px;
}

.Project .Line{
    background: #515151;
    width: 24px;
    height: 2px;
    align-self: center;
    margin-right: 15px;

}