:root {
  --primary-bg-color: #11071F;
  --primary-text-color: white;
  --secondary-text-color: #7127BA;
}

body {
  margin: 0;

}

h1, h2, p{
  margin: 0;
  padding: 0;
}

.App {
  font-family: "SUSE Mono", Arial, sans-serif;

  background: var(--primary-bg-color);
  color: var(--primary-text-color);
  

  display: flex;
  flex-direction: column;
  gap: 40px;


  padding: 5% 10%;
}

h1{
  font-size: 40px;
  font-weight: normal;

}